body {
    background-color: #ffb200;
    background-color: #cccccc;
    background-color: #788fae;
}
.jumbotron .container {
  position: relative;
  
  
  
}
#test{
  background-color: white;
}
.jumbotron h1 {

    color: white;
}
/*
.callout-background{
  background-color: white;
  opacity: 0.8;
  border: 1px solid yellow;
  border-radius: 25px;
  width: 500px;
}
*/
.navbar-brand{
  color: purple;
}
.phone-number{
  color: black;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 1.1em;
  opacity: 1.0;
}
.jumbotron{
    background-image:
      linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
      ), 
    url("../pictures/austin1170.jpg");
    margin-bottom: 0;
    background-color: #788fae;
    
  
    
}

/*For width smaller than 400px: */
.jumbotron{
    background-image: url("../pictures/austin750.jpg");
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    height: 400px;
    padding-top: 50px;
    
    
   
  
}
h1 {

}
/*For devices 400px and larger: */
/*Table Landscape phone*/
@media only screen and (min-width: 768px){
  .jumbotron{
    background-image: url("../pictures/austin750.jpg");
    background-repeat: no-repeat;
    color: white;
    background-attachment: scroll;
  }
  h1 {
     padding-top: 50px;
  }
  
}
/*Medium Desktop*/
@media only screen and (min-width: 992px){

    h1 {
        padding-top: 300px;
    }
  
}

/*Large Desktop*/
@media only screen and (min-width: 1200px){

  h1 {
      padding-top: 350px;
    }
  .darken-image {
    background-image:
      linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
      ), 
    url("../pictures/austin1170.jpg"); 
    background-attachment: scroll;
    color: white;
    height: 600px;   
  }
  
}
