body {
    background-color: #ffb200;
    background-color: #cccccc;
    background-color: #788fae;
}
/* --------------------------------------
   banners and promotions
   -------------------------------------- */
#slogan-banner{
  margin-top: 50px;
  background-color: #424242;
  color: white;
  padding: 5px;
  text-align: center;
}
#advertising-banner{
  background-color: #699d41;
  color: white;
  padding-left: 5px;
  padding-bottom: 5px;
  text-align: center;
}
/* --------------------------------------
   Typography
   -------------------------------------- */
h1 {
  font-weight: bold;
  margin:0;
}
h2{
  color: #8a0000;
}
.bold-text{
   font-weight: bold;
}
.hector-info{
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
}
/* --------------------------------------
   Jumbotron
   -------------------------------------- */
.jumbotron .container {
  position: relative;
}
.jumbotron h1 {

    color: white;
}
.jumbotron{
    background-image:
      linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
      ), 
    url("../pictures/austin1170.jpg");
    margin-bottom: 0;
    background-color: #788fae;
    
  
    
}
/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-brand{
  font-weight: bold;
  
}
.navbar-nav a{
  font-weight: bold;
  color: black;
}
#test{
  background-color: white;
}

/*
.callout-background{
  background-color: white;
  opacity: 0.8;
  border: 1px solid yellow;
  border-radius: 25px;
  width: 500px;
}
*/
.navbar-brand{
  color: purple;
}
.phone-number{
  color: black;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 1.1em;
  opacity: 1.0;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */
/*For width smaller than 400px: */
.jumbotron{
    background-image: url("../pictures/austin750.jpg");
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    height: 400px;
    padding-top: 50px;
    
    
   
  
}
/* Portrait & landscape phone */
@media (max-width: 480px) {
    .jumbotron{
        text-align: center;
        
    }
    #test{
        text-align: center;
    }
   
}

/*Table Landscape phone*/
@media only screen and (min-width: 768px){
  .jumbotron{
    background-image: url("../pictures/austin750.jpg");
    background-repeat: no-repeat;
    color: white;
    background-attachment: scroll;
    
  }
  h1 {
     padding-top: 10px;
  }


  
}
/*Medium Desktop*/
@media only screen and (min-width: 992px){
  .jumbotron{
    background-image: url("../pictures/austin970.jpg");
    background-repeat: no-repeat;
    color: white;
    background-attachment: scroll;
    height: 600px;
  }
    h1 {
     
    }
  
}

/*Large Desktop*/
@media only screen and (min-width: 1200px){
  .jumbotron{
    background-image: url("../pictures/austin1170.jpg");
    background-repeat: no-repeat;
    color: white;
    background-attachment: scroll;
    height: 600px;
  }
  h1 {
      
    }

  
}
/*  .darken-image {
    background-image:
      linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
      ), 
    url("../pictures/austin1170.jpg"); 
    background-attachment: relative;
    background-repeat: no-repeat;
    color: white;
    height: 600px;  
    margin-left: auto; 
    margin-right: auto;
  }*/
